tr,th,td{
    border: solid 1px;
}
table{
    border-collapse: collapse;
    text-align: center;
}
img{
    max-width: 200px;
}
h1{
    color: rgb(115, 212, 17);
    text-align: center;
}
h2{
    color: rgb(20, 157, 211);
    text-align: center;
}
h3{
    color:chocolate;
    text-align: center;
}
abbr{
    text-align: left;
}
body{
    margin-right: 20%;
    margin-left: 20%;
    background-color: rgb(73, 73, 73);
    color: aliceblue;
}
a:link{
    color: rgb(0, 140, 255);
}
a:visited{
    color: rgb(255, 0, 43);
}
footer{
    margin: 0%;
}
p{
    text-align: center;
}
dt{
    font-size: large;
    margin-top: 1%;
    color: aqua;
}